@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    font-family: 'Inter', sans-serif;
}

.nav-bar-i{
    position: fixed;
}

.home-page {
    background-image: url("air-background.jpg");
    background-size: cover;
    max-width: 765px;
}

.title{
   padding-top: 100px;
}

.greeting{
    font-size: 30px;
    color: orange;
}

.home-title {
    font-weight: 1000;
    max-width: 768px;
    height: 300px;
    color: rgb(255, 115, 0);
    font-size: 50px;
}

.title-p {
    max-width: 768px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: -130px;
    border: solid 10px aliceblue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
}

.title-p p{
    font-size: normal;
    color: rgba(128, 128, 128, 0.97);
    margin: auto;
    line-height: 30px;
}

.home-date{
    margin-top: 50px ;
    text-align: center;
   margin-left: 50px;
   margin-right: 50px;
   line-height: 30px;
   padding-bottom: 50px;
}

.home-date a{
    color: gray;
}

.about-works{
    max-width: 768px;

}

.line-logo{
    width: 40px;
    height: 0px;
    border: 2px solid orange;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.title-logo {
font-size: 35px;
text-align: center;
color: rgb(93, 96, 98);
padding-top: 30px;
padding-bottom: 30px;
margin-left: 50px;
margin-right: 50px
}

.logo-disc{
    margin-right: 12px;
    margin-left: 12px;
    text-align: center;
}

.logo-background img{
    max-width: 200px;
}

.logo-background{
    text-align: center;
 border: solid 1px gray;
 margin-right: 30px;
 margin-left: 30px;
 margin-top: 40px
}

.past-work{
    margin-top: 50px;
    border-top: solid 1px gray;
}

.past-work-cont{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 768px;
    margin: 30px;
}

.past-work-cont img{
     
  margin-left: auto;
    margin-right: auto;
}

.past-work-back{
  
   max-width: 600px;
   max-height: 500px;
    background-image: url("past-work1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}


.pic-op{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background:rgba(14, 205, 36, 0.57);
    z-index: 2;
    max-width: 600px;
    height: 300px;
}

.pic-op h2{
    color: aliceblue;
   
}

.past-work-cont p{
    color: aliceblue;
}

.past-work-back2{
  
    max-width: 600px;
    max-height: 500px;
     background-image: url("past-work2.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     
 }